.rt{
      color: black;
}
.CentrarEsteTexto{
    text-align: center;
    color: white;
}
body{
    background-color: black;
    text-align: center;
}
.ña{
    width: 600px;
}
.ña{
    height: 300px;
}
