.rt{
    color: blue;
}
.CentrarEsteTexto{
    text-align: center;
}
body{
    background-color: darkturquoise;
    text-align: center;
}
.ña{
    width: 600px;
}
.ña{
    height: 300px;
}
  